entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true

  websecure:
    address: ":443"
    http:
      tls: {}

providers:
  file:
    filename: /dynamic/tls.yaml

  swarm:
    endpoint: "unix:///var/run/docker.sock"
    watch: true
    exposedByDefault: false
    network: traefik_proxy

api:
  dashboard: true
  insecure: false

log:
  level: INFO

accessLog: {}

metrics:
  prometheus: {}

certificatesResolvers:
  cloudflare:
    acme:
      email: {{ traefik_cf_email }}
      storage: /certs/acme.json
      dnsChallenge:
        provider: cloudflare
        delayBeforeCheck: 0